<!DOCTYPE html>
<html ng-app="app">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h2>Catalogue</h2>
    <ng-view></ng-view>

    <!-- Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-resource.min.js"></script>
    
    <script type="text/ng-template" id="/todos.html">
    Chercher par nom de Catalogue: <input type="text" ng-model="search.nom" placeholder="Chercher par nom de Catalogue">
      <table>
          <tr>
              <th>nom</th>
              <th>code</th>
              <th>nombre_produits</th>
              <th>config</th>
          </tr>
          <tr ng-repeat="todo in todos | filter:search">
            <td>
              <a ng-show="!editing[$index]" href="/produit/{{todo._id}}">{{todo.nom}}</a>
              <input ng-show="editing[$index]" type="text" ng-model="todo.nom">
            </td>
            <td>
              <a ng-show="!editing[$index]" href="/produit/{{todo._id}}">{{todo.code}}</a>
              <input ng-show="editing[$index]" type="text" ng-model="todo.code">
            </td>
            <td><a href="/produit/{{todo._id}}">{{todo.nombre_produits}}</a></td>
            <td>
                <button ng-show="!editing[$index]" ng-click="edit($index)" class="button button2">edit</button>
                <button ng-show="editing[$index]" ng-click="update($index)" class="button button4">modifier</button>
                <button ng-show="editing[$index]" ng-click="cancel($index)" class="button button5">annuler</button>
                <button ng-show="!editing[$index]" ng-click="remove($index)" class="button button3">supprimer</button>
            </td>
          </tr>
      </table>
      Nouveau catalogue : 
      <span>
      <input type="text" ng-model="nom" required  placeholder="nom de catalogue">
      <input type="text" ng-model="code" required placeholder="code de catalogue">
      <span>
      <button ng-click="save()" class="button">Ajouter</button>
    </script>
    <script>
      angular.module('app', ['ngRoute', 'ngResource'])

        //---------------
        // Services
        //---------------

        .factory('Todos', ['$resource', function($resource){
          return $resource('/api/:id', null, {
            'update': { method:'PUT' }
          });
        }])

        //---------------
        // Controllers
        //---------------

        .controller('TodoController', ['$scope', 'Todos', function ($scope, Todos) {
          $scope.editing = [];
          $scope.todos = Todos.query();

          $scope.save = function(){
            if(!$scope.nom || $scope.nom.length < 1) return;
            if(!$scope.code || $scope.code.length < 1) return;
            var todo = new Todos({ nom: $scope.nom, code: $scope.code });

            todo.$save(function(){
              $scope.todos.push(todo);
              $scope.nom = ''; // clear textbox
              $scope.code = ''; // clear textbox
            });
          }

          $scope.update = function(index){
            var todo = $scope.todos[index];
            Todos.update({id: todo._id}, todo);
            $scope.editing[index] = false;
          }

          $scope.edit = function(index){
            $scope.editing[index] = angular.copy($scope.todos[index]);
          }

          $scope.cancel = function(index){
            $scope.todos[index] = angular.copy($scope.editing[index]);
            $scope.editing[index] = false;
          }

          $scope.remove = function(index){
            var todo = $scope.todos[index];
            Todos.remove({id: todo._id}, function(){
              $scope.todos.splice(index, 1);
            });
          }
        }])

        //---------------
        // Routes
        //---------------

        .config(['$routeProvider', function ($routeProvider) {
          $routeProvider
            .when('/', {
              templateUrl: '/todos.html',
              controller: 'TodoController'
            })
        }]);
    </script>
  </body>
</html>